.pro-box{
    border: 1px solid white;
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 25px 10px;
}
.cart-img{
    display: flex;
    cursor: pointer;
}
.cart-img img{
    width: 150px;
    height: 150px;
}
.button button {
    margin: 20px;
    padding: 5px 10px;
    background-color: rgb(219, 92, 92);
    color: white;
    font-size: 15px;
    border-radius: 10px;
}
.cart-name{
    color: blueviolet;
    position: relative;
}

.details{
    line-height: 10px;
}


.show{
    background-color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 25px;
    /* width: 300px; */
    font-size: 10px;
    border-radius: 30px;
    visibility: visible;
}

.hide{
    visibility: hidden;
}

.empty-cart{
    color: rgb(234, 90, 157);
    letter-spacing: 4px;
    text-align: center;
    border: 1px solid ;
    padding: 10px;
    margin: 10px;
}
.empty-cart button{
    padding: 7px 20px;
    color: wheat;
    background-color: black;
    border: none;
    border-radius: 5px;
}
.final{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 5px 15px;
}

.final button{
    padding: 5px 20px;
    height: 50px;
    background-color: green;
    border: 2px solid green;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.order-con{
    color: orange;
    letter-spacing: 3px;
    background-color: #fff;
    text-align: center;
    padding:10px;
    margin: 10px;
}

@media all and (max-width:500px){
    .pro-box{
        display: grid;
        grid-template-columns: 1fr .1fr;
        font-size: 15px;
    }
    .button button {
        margin: 10px;
        padding: 5px 10px;
        background-color: rgb(219, 92, 92);
        color: white;
        font-size: 15px;
        border-radius: 10px;
}
.cart-img img{
    width: 100px;
    height: 100px;
}
.final button{
    padding: 5px 10px;
    height: 50px;
    background-color: green;
    border: 2px solid green;
    color: white;
    font-size: 15px;
}
.final h1{
    font-size: 20px;
}
.final{
    padding: 5px 10px 5px 15px;
}
}