.product-cart{
    width: 250px;
    box-shadow: 5px 5px 10px rgb(224, 228, 215);
    background-color: #FFF7DD;
    border-radius: 5px;
}
.imge-box{
    width: 100%;
}
img{
    width:100%;
    height: 300px;
    border: none;
}
.name{
    text-align: center;
    color:royalblue;
}
.product{
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}
.btn-remove{
    padding: 5px 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 100;
    border: none;
    background-color: tomato;
}
.btn-remove:hover{
    background-color: rgb(251, 41, 4);
}
.btn{
    padding: 5px 20px;
    width: 100%;
    background:linear-gradient(rgb(67, 121, 228));
    border: none;
    font-size: 20px;
    font-weight: 100;
    color: wheat;
}

.btn:hover{
    background:linear-gradient(rgb(81, 0, 255)) ;
}
.details{
    line-height: 1px;
    font-weight: 400;
    padding: 2px 5px;
}
.con{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media all and (max-width:500px){
   img{
        width:100%;
        height: 200px;
        border: none;
        object-fit:fill;
    }
    .product-cart{
        width: 300px;
        box-shadow: 5px 5px 10px rgb(224, 228, 215);
        background-color: #FFF7DD;
        border-radius: 5px;
    }
    .con{
        margin: 15px 0px 0px 0px;
        justify-content: space-evenly;
    }
}