@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
body{
    box-sizing: border-box;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    background-color: #ADEBB3;
    color: rgba(13, 0, 16, 0.333);
}